<h2>Componente principal</h2>
<p>El título es ....</p>
<hr>

<nav>
  <a routerLink="/first">Ir al Componente Primero</a> |
  <a routerLink="/second">Ir al Componente Segundo</a>  |
  <a routerLink="/third">Ir al Componente tercero</a>  |
  <a routerLink="/fourth">Ir al Componente cuarto</a>  |
  <a routerLink="/emailForm">Ir a formulario</a>  |
  <a routerLink="/emailFormReactive">Ir a formulario Reactivo</a>  |
  <a routerLink="/imagen">Ir a imagenes</a>  

</nav>
<hr>

<app-hijo [name] ="juan"></app-hijo>
<router-outlet></router-outlet>